@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here


.searchBar {
  width: 200px;
  align-items: center;
}
.buttonSearch {
  width: 70px;
  align-items: center;
  color: #1b3858;
}

.recipeLabel{
  font-style: bold ;
  font-size:x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: bisque;
  text-align: center;
}

.bottomLeft {
  //height: 200px;
  float: left;
  clear: left;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

