@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here


.searchForm {
  align-items: center;
  height: 100%;
  display: flex;
  padding: 0 2em;
  margin-top: 15.5px;
}

input[type="search"] {
  flex: 3
}
input[type="submit"] {
  flex: 1;
  margin-left: 1rem;
  background: #1b3858;
  border: 0;
  color: azure;
}

.dietTile {
  width: 70%;
  margin: 0 auto;
  padding: 0;
}

.main {
  display: flex;
}

article {
  flex: 4;
}

aside {
  flex:1;
  margin-left: 10px;
  background-color: #ccccff;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  border-radius: 15px;
}

.asides {
  list-style-type: none;
  padding-left: 15px;
}
aside li {
  padding-bottom: 10px;
}

aside a {
  color: blue;
}

h4 {
  padding:10px 20px;
}

.menu {
  font: bolder;
  font-size: larger;
  font-family:Arial, Helvetica, sans-serif;
}

footer {
  margin-top: 10px;
  background-color: #cdd7e5;
}
footer p {
  font-style: italic;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.recipeLabel{
  font-style: bold ;
  font-size:x-large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: bisque;
  text-align: center;
}

.images {
  float: left;
  clear: left;
  border-radius: 10px;
  margin: 10px;
}

.ingredient {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

