<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>
      {{#if title }}
        {{ title }}
      {{else }}
        Recipe App Using API
      {{/if}}
    </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="/css/vendor/normalize.min.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

  </head>

  <body>
    <header>
      <h2>RECIPE APP USING API</h2>
    </header>
    {{{body}}}
    <footer>
      <p>@Copyright 2023 by Bill. Alright reserve.</p>
    </footer>
  </body>
</html>
