<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    {{#if title }}
      {{ title }}
    {{else }}
      The Recipes List
    {{/if}}
  </title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/css/vendor/normalize.css">
  <link rel="stylesheet" href="/css/main.css">

</head>

<body>
  <header>
    <h1>The Recipes List</h1>
  </header>
  {{{body}}}
  <footer>
    <p>@Copyright 2023 by William Vo. All rights reserved. </p>
  </footer>
</body>


</html>
